<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moresmart.mobilesafe"
    android:versionName="2.0"
    android:versionCode="2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".act.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.HomeActivity" />
        <activity android:name=".act.SettingActivity" />

        <activity android:name=".act.LostFindActivity" />
        <activity android:name=".act.Setting1Activity" />
        <activity android:name=".act.Setting2Activity" />
        <activity android:name=".act.Setting3Activity" />
        <activity android:name=".act.Setting4Activity" />
    </application>

</manifest>